@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/core.css');
@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/normalize.css');
@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/structure.css');
@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/typography.css');
@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/padding.css');
@import url('https://cdn.jsdelivr.net/npm/@ionic/react@7.6.4/css/display.css');
